<div class="button-container">
  <a [routerLink]="['/home']" class="home-button">Home</a>
</div>

<div class="movie-container">
  <div class="movie-poster">
    <img [src]="movie.poster" [alt]="movie.title">
  </div>
  <div class="movie-info">


    <h1>{{movie.title}}</h1>
    <ul>
      Genres:
      <li *ngFor="let genre of movie.genres">{{genre}}</li>
    </ul>

    <h3>Year: {{movie.year}}</h3>
    <h3>Directo: {{movie.director}}</h3>
    <ul>
      Actors:
      <li *ngFor="let actor of movie.actors">{{actor}}</li>
    </ul>
    <p>{{movie.synopsis}}</p>

  </div>

</div>